* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    font-size: 21px;
}

#header{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    font-size: 24px;
    margin: 0 6% 0 6%;
    padding: 0.25em 0;
}
@media screen and (max-width: 500px) {
    body { font-size:18px; }
    #header{font-size: 21px;}
}

#logo{
    display: inline-block;
    vertical-align: middle;
}

#logo img{
    display: block;
    width: 1.5em;
    height: 1.5em;
}

h1{
    display: inline-block;
    padding: 0;
    color: rgb(148, 145, 145);
    font-size: 1em;
    margin:0;
    vertical-align: middle;
}
#header a{
    vertical-align: middle;
    float: right;
}

#clear{
    clear: both;
}

a{
    text-decoration: none;
    color: #428bca
}

ul{
    margin: 0 6% 0 6%;
    padding: 0%;
}

li{
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}

li:hover{
    background-color: #eee;
}

.date{
    font-size: 0.8em;
    color: darkgray;
    margin-bottom: 2px;
}